body {
    font-family: Allerta, Verdana, sans-serif;
    font-size: 14px;
}

table#post-table-table {
    border-collapse: collapse;
    margin: 10px auto;
    width: 100%;
}

table#post-table-table th {
    border-bottom: 1px solid;
    text-align: left;
}

table#post-table-table tr.data-row {
    border: 2px solid #ccc;
}

table#post-table-table tr.data-row td {
    padding: 10px 20px;
}

table#post-table-table tr.data-row.odd {
    background-color: #fff6f6;
}

table#post-table-table tr.data-row.even {
    background-color: #f6f6ff;
}

table#post-table-table tr.data-row:hover {
    background-color: #f8e7b3;
    border: 2px solid #edc240;
}
table#post-table-table tr.data-row:hover td {
    border-top: 2px solid #edc240;
}

.graph {
    height: 400px;
    width: 95%;
    margin: 0 auto;
}

.title {
    max-width: 500px;
}

td.age, td.rank, td.number {
    text-align: right;
}

td.age span {
    color: #ccc;
}

th.number, th.age, th.rank {
    text-align: center;
}


a {
    color: blue;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

.box {
    display: none;
    margin: 60px auto;
    width: 95%;
}

.tab.selected, .tab:hover {
    background-color: #f8e7b3;
    border: 2px solid #edc240;
    border-bottom: 2px solid transparent;
}

.tab {
    cursor: pointer;
    display: inline-block;
    padding: 8px;
    border: 2px solid transparent;
    margin: 0 -6px 0 0;
}

#nav {
    border-bottom: 2px solid #edc240;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 4px;
    width: 100%;
    background: white;
    z-index: 1;
    -moz-box-shadow: #999 1px 0px 5px 0;
    -webkit-box-shadow: #999 1px 0px 5px 0;
    -o-box-shadow: #999 1px 0px 5px 0;
    box-shadow: #999 1px 0px 5px 0;
}

#nav a {
    color: black;
}
#nav a:hover {
    text-decoration: none;
}

#post-count, #word-count {
    padding: 10px 8px;
}

#refresh, #post-count, #word-count {
    font-size: 12px;
    float: right;
    vertical-align: middle;
}

#refresh {
    background: #fff;
    border: 2px solid #ccc;
    padding: 8px;
    margin-top: -2px;
    margin-right: 4px;
    cursor: pointer;
}

#refresh:hover {
    background-color: #f8e7b3;
    border: 2px solid #edc240;
}

#refresh-counter {
    color: #ccc;
}

#hacker-trends {
    margin-left: 6px;
}

#by-typeish {
    margin-right: 32px;
}

#by-typeish > img {
    margin-bottom: -8px;
}